@font-face {
    font-family: 'TimesNewLightItalic';
    src: url('http://localhost:3000/fonts/times-now-extralight-italic.woff2') format('woff2')
}

.Title {
    display: flex;
    margin-left: 40px;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: "TimesNewLightItalic", sans-serif;
    letter-spacing: -.186rem;
    font-size: 86px;
}