@font-face {
    font-family: 'TimesNewLightItalic';
    src: url('/fonts/times-now-extralight-italic.woff2') format('woff2')
}

@media only screen and (max-width: 768px) {
    .Title {
        font-size: 40px !important;
        margin-left: 0px !important;
    }
}

.Title {
    display: flex;
    margin-left: 40px;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: "TimesNewLightItalic", sans-serif;
    letter-spacing: -.186rem;
    font-size: 86px;
}