
.container_product {
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
    /* background-color: #218838; */
}

.left_part {
    height: 10%;
    width: 45%;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;

}


.block_title {
    height: 25%;
    font-size: 70%;
    text-align: center;
}

.right_part {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 80%;
    gap: 12px;
}

.file_path {
    display: flex; 
    justify-content: flex-end;
    padding-right: 5%; 
    /* align-items: flex-end;  */
    height: 10%;
    width: 100%;
    align-items: center;    
}

.slider_container {
    display: flex;
    height: 450px;
    width: 70%;
    justify-content: center; 
    align-items: center; 
}

.slider_main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}

.image_container {
    width: 80%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    transition: transform 0.6s ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.image_container:hover {
    transform: scale(1.05);
}

.slider_image {
    border-radius: 24px;

    max-width: 150%; 
    max-height: 150%; 
    object-fit: contain;
    transform: scale(1.3);

}

.title_container h1 {
    font-size: 2.5rem; 
    color: #333; 
    font-weight: bold; 
    margin: 0; 
    letter-spacing: 1px; 
}

.title_container p {
    font-size: 1.2rem; 
    color: #666; 
}

.pre_blog_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sub_text {
    font-size: 1.2rem; 
    color: #666; 
}

.button_go_blog {
    font-weight: 400;
    text-decoration: underline;
    font-size: 1.2rem; 
    color: #666;
    cursor: pointer;
}
.subtitle_container {
    font-size:1rem; 
    color: #121212; 
    margin: 0; 
    letter-spacing: 1px;
}

.description_container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size:1rem;
    color: #121212;
    margin: 0; 
    letter-spacing: 1px;
}

.craft_container {
    font-size:1rem; 
    color: #121212; 
    margin: 0; 
    letter-spacing: 1px;
}

.craft_block_container {
    height: 100px;
    margin-top: 4px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.craft_block {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.block_image {
    height: 80%;
    width: 80%;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_image img {
    max-width: 180%;
    max-height: 180%;
    object-fit: contain;
}

.avis_container {
    margin-top: 20px;
}

.avis_container h2 {
    font-size: 1.5em;
}

.star_rating {
    display: flex;
    color: #ffcc00;
}

.star {
    font-size: 1.5em;
}

.rating_info {
    margin-left: 12px;
    color: #121212;
    display: flex;
    align-items: center;
}

.average_rating {
    margin-right: 10px;
    font-size: 1.2em;
}

.see_more_button {
    padding: 2px 10px;
    text-decoration: underline;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.see_more_button:hover {
    background-color: #c3c3c35d;
}

.price_container {
}

.price_container h2 {
    font-size: 1.5em;
}

.price_info {
    display: flex;
    flex-direction: column;
}

.original_price {
    font-size: 1em;
    color: red;
}

.strikethrough {
    text-decoration: line-through;
    font-size: 0.9em;
    color: gray;
}

.current_price {
    font-size: 1.5em;
    font-weight: bold;
}

.weight {
    font-size: 0.9em;
    color: #555;
}

.button_container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add_to_cart_button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add_to_cart_button:hover {
    background-color: #218838;
}

.link_path:hover {
    color: red;
}
.other_products {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: 30px; 
    flex-direction: column;
    align-items: center;
}
.title_description_card {
    color: #218838;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
  }
.other_products_container {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 5%;

}

.product_block {
    width: 25%;
    max-width: 50%; 
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    margin: 10px; 
    text-align: center;
    height: auto;
}

.product_image {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
}



.product_description {
    font-size: 0.8em; 
    color: #666; 
}

.product_price {
    font-size: 1em;
    color: #28a745; 
}

.discover_button {
    display: inline-block;
    margin-top: 5px; 
    padding: 5px 10px; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    text-decoration: none;
    transition: background-color 0.3s;
}

.discover_button:hover {
    background-color: #0056b3; 
}

.product_details {
    display: flex;
    /* justify-content: center; */
    width: 65%;
}

.first_block_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    gap: 55px;
}

.first_block {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
    /* background-color: #0056b3; */
    /* align-self: self-end; */
    /* justify-content:flex-end; */
}


.description_product_container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .product_name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .product_main_image {
    width: 100%;
    max-width: 400px; /* Limite la largeur de l'image principale */
    height: auto;
    margin-bottom: 1rem;
  }
  
  .product_price {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .current_price {
    color: green;
  }
  
  .original_price {
    color: red;
    opacity: 0.6;
  }
  
  .product_subDescription, .product_longDescription {
    margin: 1rem 0;
    font-size: 1.1rem;
  }
  
  .product_usage {
    margin-top: 2rem;
  }
  
  .usage_images {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .usage_image {
    width: 125px; 
    height: 125px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .usage_texts {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .usage_texts li {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  
  .name_price_container {
    display: flex;
    gap: 24px;
  }


  .avis_part {
    height: auto; /* Adjust height to fit content dynamically */
    width: 100%;
    /* background-color: #0056b3; */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Space between each product's review section */
  }
  
  .reviews_title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  .reviews_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures three columns */
    gap: 20px;
    justify-content: center; /* Centers the entire grid */
    width: 100%;
    max-width: 800px;
    padding: 20px 0; /* Optional padding for spacing around the grid */
  }
  
  .reviews_container > *:nth-child(4) {
    grid-column: 2 / 3; /* Place l'élément seul au centre de la dernière ligne */
  }
  
  .review_card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Set a consistent width to help with centering */
    max-width: 250px; /* Ensures the card doesn’t exceed a reasonable width */
    text-align: center; /* Centers text content inside each card */
  }
  
  .review_user {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000000;

  }
  
  .review_rating {
    display: flex;
    justify-content: center; /* Centers stars within the rating div */
    align-items: center;
    margin-bottom: 8px;
  }
  
  .star_review {
    color: #ccc; /* Unfilled star_review color */
    font-size: 18px;
    margin-right: 2px;
  }
  
  .star_review.filled {
    color: #FFD700; 
  }
  
  .review_comment {
    font-size: 16px;
    color: #000000;
    font-style: italic;
  }
  
  .reviews_container .star_review.filled {
    color: #FFD700; /* Jaune pour les étoiles remplies */
  }
@media (max-width: 900px) {
    .title_description_card {
        display: flex;
        flex-direction: column;
    }
    .pre_blog_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }
    
    .product_name {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    .product_subDescription, .product_longDescription {
        margin: 1rem 0;
        font-size: 1.1rem;
        text-align: center;
      } 
    .sub_text {
        font-size: 1.2rem; 
        color: #666; 
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .name_price_container {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }
    .product_price {
        font-size: 1em;
        color: #28a745; 
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }
    .first_block_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_product {
        display: flex;
        flex-direction: column;
    }

    .first_block {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #007bff; */
        align-self: center;
        width: 95%;
    }

    .file_path {
       display: flex; 
       justify-content: center;
       align-items: center;
       width: 100%;
       white-space: nowrap;
    }
    .left_part {
        width: 400px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .right_part {
        width: 100%;
        display: flex;
        width: 95%;
        justify-content: center;
    }

    .product_block {
        width: 100%; 
        max-width: none;
    }

    .title_container h1 {
        font-size: 1.5em; 
        display: flex;
        justify-content: center;
    }
    .title_container p {
        display: flex;
        justify-content: center;
    }

    .subtitle_container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.9em;
    }
    .slider_container {
        display: flex;
        height: 100%;
        width: 70%;
        justify-self: center; 
        align-items: center; 
    }
    .description_container {
        display: flex;
        margin-top: 5%;
        /* justify-content: flex-end; */
        align-items: flex-end;
        margin-right: 5%;
    }
    .craft_container {
        justify-self: center;
        margin: 24px;
    }
    .block_image {
        height: 50%;
    }
    .avis_container {
        margin: 0px 0px 24px 24px;
    }
    .price_container {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 24px 24px;
    }
    .other_products {
        margin-top: 148px;
    }

    .button_container {
        width: 100%;
    }
    .add_to_cart_button {
        width: 80%;
    }
    .product_details {
        margin-top: 5%;
        display: flex;
        width: 95%;
    }
}
